@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    position: relative;
}

body, html {
    margin: 0;
}
body {
    background-color: rgb(48, 44, 44);
}
div#app {
    margin: 0;
}

.wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    // justify-content: space-between;
}
.trading_list {
    box-sizing: border-box;
    width: 50%;
    & .trading_table {
        padding: 5%;
    }
    & h3 {
        color: #eee;
        margin-bottom: 0;
    }
}
.stock_position {
    border: solid 1px;
    box-sizing: border-box;
    width: 50%;
    height: 700px;
    transition: 0.5s;
    overflow: hidden;
    & h3 {
        color: #eee;
    }
    & .pages {
        white-space: nowrap;
        & .page {
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: top;
        }
    }
    & .leftPage {
        left: -100%;
        transition: 2s;
    }
}
canvas {
    width: 100%;
}

table.el-table__body {
    tr.el-table__row:hover {
        td {
            background-color: rgb(243, 189, 72);
            color: rgb(48, 44, 44);
        }
    }
}

.trade_box {
    margin-top: 5%;
}

.el-pagination {
    margin-top: 3%;
}

.el-select {
    width: 150px;
}

.el-input-number {
    width: 100px;
}